{% extends "layout.html" %}
{% block content %}

    <div class="container">

        <form class="form-signin" action="adminlogin" method="post">
            <h2 class="form-signin-heading" align="center">Vakif Admin Paneli</h2>
                <label for="adminEmail" class="sr-only">Email address</label>
                    <input type="email" name="adminEmail" class="form-control" placeholder="Valid Email Address"
                           required autofocus autocomplete=""><br><p>
                <label for="adminPassword" class="sr-only">Password</label>
                    <input type="password" name="adminPassword" class="form-control" placeholder="Password"
                                        required autofocus/><br>
            <input type="submit" value="Giris Yap" class="btn btn-success btn-lg btn-block" role="button"><br>
            <a href="/" class="btn btn-success btn-lg btn-block">GERI</a>
        </form>

    </div>

{% endblock %}
