{% extends "layout.html" %}
{% block content %}

<div class="container">

    <p><h2 class="form-signin-heading" align="center">Recurring Monthly Donations</h2></p>

        {% if success_message %}
            <div class="alert alert-success" role="alert"><span class="label label-success">Success</span> {{ success_message }}</div><p>
        {% endif %}

        {% if e %}
            <span class="label label-danger">Error</span><br>
            <div class="alert alert-danger" role="alert">{{ e }}</div><p>
        {% endif %}

<script type=text/javascript>
    $(function() {
      $('a#nj').bind('click', function() {
          $("#dcVakfi").attr('class', 'collapse');
          $("#donatingMembers").attr('class', 'card card-body collapse');
          $("#getDonatingMembers-NJ").css("color",'white');
          var state = "nj";
         $.ajax({
          url: "/getdonators",
          type: "POST",
          data:{"state":state}
        }).done(function(data) {
            var result = JSON.parse(data);
            document.getElementById("njPayingMembers").innerHTML = result.registered_members ;
            document.getElementById("njTotalAmount").innerHTML =  "$" + result.total_amount;
        });
      });
    });
    $(function() {
      $('a#dc').bind('click', function() {
          $("#njVakfi").attr('class', 'collapse');
          $("#donatingMembers").attr('class', 'card card-body collapse');
          $("#getDonatingMembers-DC").css("color",'white');
          var state = "dc";
         $.ajax({
          url: "/getdonators",
          type: "POST",
          data:{"state":state}
        }).done(function(data) {
            var result = JSON.parse(data);
            document.getElementById("dcPayingMembers").innerHTML = result.registered_members ;
            document.getElementById("dcTotalAmount").innerHTML =  "$" + result.total_amount;
        });
      });
    });

    // TABLE CREATION FUNCTIONS
    $(function() {
      $('a#getDonatingMembers-DC').bind('click', function() {
          var state = "dc";
         $.ajax({
          url: "/getdonatingmembers",
          type: "POST",
          data:{"state":state}
        }).done(function(data) {
            var resultSet1 = JSON.parse(data);
            $("#donatingMembers").attr('class', 'card card-body collapse show');
            $("#donatingMembersTable").html("Hello World");
                var tbl=$("<table/>").attr("id","mytable");
                $("#donatorTableDC").append(tbl);
                var thead="<tr><th>Email</th><th>Amount</th><th>Interval</th><th>Date</th></tr>";
                $("#mytable").append(thead);
                for(var i=0;i<resultSet1.length;i++)
                {
                    var resultSet2 = JSON.parse(resultSet1[i]);
                    var tr='<tr>';
                    var td1='<td>'+resultSet2["email"]+"</td>";
                    var td2="<td>"+resultSet2["amount"]+"</td>";
                    var td3="<td>"+resultSet2["interval"]+"</td>";
                    var td4="<td>"+resultSet2["created"]+"</td></tr>";
                    $("#mytable").append(tr+td1+td2+td3+td4);
                }
        });
      });
    });
    $(function() {
      $('a#getDonatingMembers-NJ').bind('click', function() {
          var state = "nj";
         $.ajax({
          url: "/getdonatingmembers",
          type: "POST",
          data:{"state":state}
        }).done(function(data) {
            var result = JSON.parse(data);
            $("#donatingMembers").attr('class', 'card card-body collapse show');
            $("#donatingMembersTable").html("Hello World");
        });
      });
    });
</script>

  <a id="dc" class="btn btn-success" data-toggle="collapse" href="#dcVakfi" role="button" aria-expanded="false" aria-controls="dcVakfi">
    D.C Branch </a>
  <a id="nj" class="btn btn-success" data-toggle="collapse" href="#njVakfi" role="button" aria-expanded="false" aria-controls="njVakfi">
    N.J Branch </a><p>

<div class="collapse" id="dcVakfi">
  <div class="card card-body">
    <p align="center">Total Paying Members: <strong id="dcPayingMembers">{{ registered_members }}</strong><b></b></p>
    <p id="total-amount" align="center">Total Monthly Recurring: <strong id="dcTotalAmount">${{ total }}</strong><b></b></p>
    <div> <a id="getDonatingMembers-DC" class="shadow btn btn-success">SHOW MEMBERS</a> </div>
  </div>
</div>

<div class="collapse" id="njVakfi">
  <div class="card card-body">
    <p align="center">Total Paying Members: <strong id="njPayingMembers">>{{ registered_members }}</strong><b></b></p>
    <p align="center">Total Monthly Recurring: <strong id="njTotalAmount">>${{ total }}</strong><b></b></p>
    <div> <a id="getDonatingMembers-NJ" class="shadow btn btn-success">SHOW MEMBERS</a> </div>
  </div>
</div>
<div id="donatingMembers" class="card card-body collapse">
    <h4 class="form-signin-heading" align="center">Paying Members</h4>
    <div id="donatorTableDC" align="center">
    </div>
</div>

    <div>
    <a href="/gorevlipaneli" class="shadow btn btn-success btn-lg btn-block">BACK</a>
    </div>

{% endblock %}