{% extends "layout.html" %}
{% block content %}


    {% if exception == "" %}
           <p><h2>Tesekkurler, ${{ amount }} basariyla alindi! </h2><p>
            Isim: {{ isim }}<br>
            Telefon: {{ telefon }}<br>
            Email: {{ email }}<br>
            <a href="/" class="shadow btn btn-success btn-lg btn-block">GERI</a>


        {%else%}
        <p><h2>Odemede bir HATA olustu! Tekrar deneyiniz</h2></p>
        <p><h3>Butun kutulari doldurmayi unutmayiniz.</h3></p>
        <p><a href="/" class="shadow btn btn-success btn-lg btn-block">GERI</a></p>

        <h3>Detaylar:</h3><br>
        {{ exception }}

    {%endif%}

{% endblock %}