{% extends "layout.html" %}
{% block content %}

    <div class="container">

        {% if exception_message %}
            <h1 class="display-3">{{ exception_message }}</h1>
            <h3>Bu detaylarin ekran goruntusunu cekip gorevliye bildiriniz:</h3><br>
                {{ e }} <br>
            <p><a class="btn btn-lg btn-success" href="/" role="button">Geri Don</a></p>

        {% else %}
            <h1 class="display-3" align="center">Tesekkurler!</h1>
            <h3 align="center">Bagisiniz ulastirilmistir</h3><br>
            <p align="center"><a class="btn btn-lg btn-success" href="/" role="button">Geri Don</a></p>

        {% endif %}

    </div>

{% endblock %}
