{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vakif Bagis Formu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform">
    </script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://v4-alpha.getbootstrap.com/examples/signin/signin.css">
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/narrow-jumbotron.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>

    var applicationId = 'sq0idp-W2uCBajFuXqD7AxS2NOqLw'; // <-- Add your application's ID here

    // Initializes the payment form. See the documentation for descriptions of
    // each of these parameters.
    var paymentForm = new SqPaymentForm({
      applicationId: applicationId,
      inputClass: 'sq-input',
      inputStyles: [
        {
          fontSize: '15px'
        }
      ],
      cardNumber: {
        elementId: 'sq-card-number',
        placeholder: '•••• •••• •••• ••••'
      },
      cvv: {
        elementId: 'sq-cvv',
        placeholder: 'CVV'
      },
      expirationDate: {
        elementId: 'sq-expiration-date',
        placeholder: 'MM/YY'
      },
      postalCode: {
        elementId: 'sq-postal-code'
      },
      callbacks: {

        // Called when the SqPaymentForm completes a request to generate a card
        // nonce, even if the request failed because of an error.
        cardNonceResponseReceived: function(errors, nonce, cardData) {
          if (errors) {
            console.log("Encountered errors:");

            // This logs all errors encountered during nonce generation to the
            // Javascript console.
            errors.forEach(function(error) {
              console.log('  ' + error.message);
            });

          // No errors occurred. Extract the card nonce.
          } else {

            // Delete this line and uncomment the lines below when you're ready
            // to start submitting nonces to your server.
            // alert('Nonce received: ' + nonce);


            /*
              These lines assign the generated card nonce to a hidden input
              field, then submit that field to your server.
              Uncomment them when you're ready to test out submitting nonces.

              You'll also need to set the action attribute of the form element
              at the bottom of this sample, to correspond to the URL you want to
              submit the nonce to.
            */
             document.getElementById('card-nonce').value = nonce;
             document.getElementById('nonce-form').submit();

          }
        },

        unsupportedBrowserDetected: function() {
          // Fill in this callback to alert buyers when their browser is not supported.
        },

        // Fill in these cases to respond to various events that can occur while a
        // buyer is using the payment form.
        inputEventReceived: function(inputEvent) {
          switch (inputEvent.eventType) {
            case 'focusClassAdded':
              // Handle as desired
              break;
            case 'focusClassRemoved':
              // Handle as desired
              break;
            case 'errorClassAdded':
              // Handle as desired
              break;
            case 'errorClassRemoved':
              // Handle as desired
              break;
            case 'cardBrandChanged':
              // Handle as desired
              break;
            case 'postalCodeChanged':
              // Handle as desired
              break;
          }
        },

        paymentFormLoaded: function() {
          // Fill in this callback to perform actions after the payment form is
          // done loading (such as setting the postal code field programmatically).
          // paymentForm.setPostalCode('94103');
        }
      }
    });

    // This function is called when a buyer clicks the Submit button on the webpage
    // to charge their card.
    function requestCardNonce(event) {

      // This prevents the Submit button from submitting its associated form.
      // Instead, clicking the Submit button should tell the SqPaymentForm to generate
      // a card nonce, which the next line does.
      event.preventDefault();

      paymentForm.requestCardNonce();
    }
    </script>

    <!--
      These styles can live in a separate .css file. They're just here to keep this
      example to a single file.
    -->
    <style type="text/css">
      .sq-input {
        border: 1px solid rgb(223, 223, 223);
        outline-offset: -2px;
        margin-bottom: 5px;
      }
      .sq-input--focus {
        /* Indicates how form inputs should appear when they have focus */
        outline: 5px auto rgb(59, 153, 252);
      }
      .sq-input--error {
        /* Indicates how form inputs should appear when they contain invalid values */
        outline: 5px auto rgb(255, 97, 97);
      }
  </style>
  </head>

 <body>
  <div class="container">

    <!--
      These div elements are the placeholder elements that are replaced by the
      SqPaymentForm's iframes.
    -->
<div class="form-signin">
    <h2 class="form-signin-heading">Bagis Kart Bilgileri</h2>

    <label>Card Number:</label>
    <div id="sq-card-number" autofocus required></div>
    <label>CVV:</label>
    <div id="sq-cvv" autofocus required></div>
    <label>Expiration Date:</label>
    <div id="sq-expiration-date" autofocus required></div>
    <label>Postal Code:</label>
    <div id="sq-postal-code" autofocus required></div>
</div>
    <!--
      After the SqPaymentForm generates a card nonce, *this* form POSTs the generated
      card nonce to your application's server.

      You should replace the action attribute of the form with the path of
      the URL you want to POST the nonce to (for example, "/process-card")
    -->
    <form id="nonce-form" novalidate action="/charge" method="post">

      <!--
        Whenever a nonce is generated, it's assigned as the value of this hidden
        input field.
      -->
      <input type="hidden" id="card-nonce" name="nonce">
      <label>Donation Amount:</label><br>
      <input class="form-control" type="text" name="donation-amount"><br>

      <!--
        Clicking this Submit button kicks off the process to generate a card nonce
        from the buyer's card information.
      -->
      <input class="btn btn-success btn-lg btn-block" type="submit" onclick="requestCardNonce(event)"><br>
        <a href="/" class="btn btn-success btn-lg btn-block">GERI</a>
    </form>     


</div>
</body>
</html>
{% endblock %}
