<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Semerkand Washington D.C Vakfi Uyelik ve Bagis Formu</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://v4-alpha.getbootstrap.com/examples/signin/signin.css">
        <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/narrow-jumbotron.css">
        <script src="//code.jquery.com/jquery-1.9.1.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script type="text/javascript" src="ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"></script>
        <script type="text/javascript" src="//js.stripe.com/v1/"></script>
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
            Stripe.setPublishableKey('pk_live_kLzrkXBPy3HDVSvRxWvX2JKT');
            $(document).ready(function() {
                function addInputNames() {
                    // Not ideal, but jQuery's validate plugin requires fields to have names
                    // so we add them at the last possible minute, in case any javascript 
                    // exceptions have caused other parts of the script to fail.
                    $(".card-number").attr("name", "card-number")
                    $(".card-cvc").attr("name", "card-cvc")
                    $(".card-expiry-year").attr("name", "card-expiry-year")
                }

                function removeInputNames() {
                    $(".card-number").removeAttr("name")
                    $(".card-cvc").removeAttr("name")
                    $(".card-expiry-year").removeAttr("name")
                }

                function submit(form) {
                    // remove the input field names for security
                    // we do this *before* anything else which might throw an exception
                    removeInputNames(); // THIS IS IMPORTANT!

                    // given a valid form, submit the payment details to stripe
                    $(form['submit-button']).attr("disabled", "disabled")

                    Stripe.createToken({
                        number: $('.card-number').val(),
                        cvc: $('.card-cvc').val(),
                        exp_month: $('.card-expiry-month').val(), 
                        exp_year: $('.card-expiry-year').val()
                    }, function(status, response) {
                        if (response.error) {
                            // re-enable the submit button
                            $(form['submit-button']).removeAttr("disabled")
        
                            // show the error
                            $(".payment-errors").html(response.error.message);

                            // we add these names back in so we can revalidate properly
                            addInputNames();
                        } else {
                            // token contains id, last4, and card type
                            var token = response['id'];

                            // insert the stripe token
                            var input = $("<input name='stripeToken' value='" + token + "' style='display:none;' />");
                            form.appendChild(input[0])

                            // and submit
                            form.submit();
                        }
                    });
                    
                    return false;
                }
                
                // add custom rules for credit card validating
                jQuery.validator.addMethod("cardNumber", Stripe.validateCardNumber, "Please enter a valid card number");
                jQuery.validator.addMethod("cardCVC", Stripe.validateCVC, "Please enter a valid security code");
                jQuery.validator.addMethod("cardExpiry", function() {
                    return Stripe.validateExpiry($(".card-expiry-month").val(), 
                                                 $(".card-expiry-year").val())
                }, "Please enter a valid expiration");

                // We use the jQuery validate plugin to validate required params on submit
                $("#example-form").validate({
                    submitHandler: submit,
                    rules: {
                        "card-cvc" : {
                            cardCVC: true,
                            required: true
                        },
                        "card-number" : {
                            cardNumber: true,
                            required: true
                        },
                        "card-expiry-year" : "cardExpiry" // we don't validate month separately
                    }
                });

                // adding the input field names is the last step, in case an earlier step errors                
                addInputNames();
            });
        </script>
    </head>

    <body>

    <div class="container">
        <h2 align="center" class="form-signin-heading">Vakif Bagis Formu</h2>
    
        <form class="form-signin" action="/charge" method="post" id="example-form" style="display: none;">

            <p><label for="amount" class="sr-only">Amount</label>
                <input type="text" name="amount" class="form-control"  placeholder="Donation Amount $" required autofocus/></p>

            <p><label for="name" class="sr-only">Name</label>
                <input type="text" name="name" class="form-control"  placeholder="Name (Optional)" autofocus/></p>

            <p><label for="phone" class="sr-only">Phone</label>
                <input type="text" name="phone" class="form-control"  placeholder="Phone (Optional)" autofocus/></p>

            <p><label for="email" class="sr-only">Email:</label>
                <input type="email" name="email" class="form-control"  placeholder="Email Address *" required autofocus/></p>

            <p><label class="sr-only">Card Number:</label>
                <input type="text" maxlength="16" class="form-control card-number stripe-sensitive" placeholder="Credit Card Number" required autofocus/></p>

            <p><label class="sr-only">CVC:</label>
                <input type="text" maxlength="4" class="form-control card-cvc stripe-sensitive" placeholder="CVC Security Number" required autofocus/></p>

            
            <div align="center" class="dropdown">
                <label>Expiration</label>
                <div class="expiry-wrapper">
                    <select class="btn btn-secondary btn-lg dropdown-toggle card-expiry-month stripe-sensitive required">
                    </select>
                    <script type="text/javascript">
                        var select = $(".card-expiry-month"),
                            month = new Date().getMonth() + 1;
                        for (var i = 1; i <= 12; i++) {
                            select.append($("<option value='"+i+"' "+(month === i ? "selected" : "")+">"+i+"</option>"))
                        }
                    </script>
                    <span> / </span>
                    <select class="btn btn-secondary btn-lg dropdown-toggle card-expiry-year stripe-sensitive required"></select>
                    <script type="text/javascript">
                        var select = $(".card-expiry-year"),
                            year = new Date().getFullYear();

                        for (var i = 0; i < 12; i++) {
                            select.append($("<option value='"+(i + year)+"' "+(i === 0 ? "selected" : "")+">"+(i + year)+"</option>"))
                        }
                    </script>
                </div>
            </div>

            <p><br><label class="sr-only">ZIP:</label>
                <input type="text" maxlength="5" class="form-control stripe-sensitive" placeholder="Card's Zip Code" required autofocus/>

            <div align="center" class="dropdown">
                <label>Aylik Bagis</label>
                <div class="expiry-wrapper">
                    <select name="recurring" class="btn btn-secondary btn-lg dropdown-toggle required">
                          <option value="no" selected>Hayir</option>
                          <option value="yes">Evet</option>
                    </select>
                </div>
            </div><br>
            <div align="center" class="dropdown">
                <label>Hangi Vakif</label>
                <div class="expiry-wrapper">
                    <select name="location" class="btn btn-secondary btn-lg dropdown-toggle required">
                          <option data-pk="pk_live_kLzrkXBPy3HDVSvRxWvX2JKT" value="dc" selected>Washington D.C</option>
                          <option data-pk="pk_live_j4tmz8hRq6M3QgSAUacbmEFk" value="nj">New Jersey</option>
                    </select>
                </div>
            </div>
            <div id="testing"></div>
            <br><input type="submit" name="submit-button" value="Gonder" class="shadow btn btn-success btn-lg btn-block" role="button">
            <a href="/" class="shadow btn btn-success btn-lg btn-block">GERI</a>
        </form>
        <script>if (window.Stripe) $("#example-form").show()</script>
        <script>
            var s = document.getElementsByName('location')[0];
            s.addEventListener("change", changePk);
            function changePk(){
                var value = s.options[s.selectedIndex].getAttribute('data-pk');
                Stripe.setPublishableKey(value);
            }
            changePk();
        </script>
        <noscript><p>JavaScript is required for the registration form.</p></noscript>
    </div>
    </body>
</html>