{% extends "layout.html" %}
{% block content %}

<div class="container">

    <p><h2 class="form-signin-heading" align="center">Branch Admin Panel</h2></p>

    <div>
        <a href="/iletisimpaneli" class="shadow btn btn-success btn-lg btn-block">SMS Panel</a>
        <a href="/aidatpaneli" class="shadow btn btn-success btn-lg btn-block">Donations Panel</a>
        <br />
        <a href="/" class="shadow btn btn-success btn-lg btn-block">BACK</a>
        <a href="/logout" class="shadow btn btn-success btn-lg btn-block">SIGN OUT</a>
    </div>

    </div>

{% endblock %}

