{% extends "layout.html" %}
{% block content %}

<div class="container">

    <p><h2 class="form-signin-heading" align="center">Vakif Gorevli Paneli</h2></p>

    <div>
        <a href="/iletisimpaneli" class="shadow btn btn-success btn-lg btn-block">SMS Paneli</a>
        <a href="/aidatpaneli" class="shadow btn btn-success btn-lg btn-block">Aylik Aidat Paneli</a>
        <br />
        <a href="/" class="shadow btn btn-success btn-lg btn-block">GERI</a>
        <a href="/logout" class="shadow btn btn-success btn-lg btn-block">SIGN OUT</a>
    </div>

    </div>

{% endblock %}

