{% extends "layout.html" %}
{% block content %}

<div class="container">

    <form  action="send-sms" method="post">

        {% if success_message %}

            <div class="alert alert-success" role="alert"><span class="label label-success">Success</span> {{ success_message }}</div><p>

        {% endif %}

        {% if e %}

            <span class="label label-danger">Error</span><br>
            <div class="alert alert-danger" role="alert">{{ e }}</div><p>

        {% endif %}

            <h2 class="form-signin-heading">SMS Message:</h2>
            <input type="text" name="sms_content" class="form-control" placeholder="Enter SMS message here!"
                            required autofocus/><br><p>
            <input type="submit" value="SEND SMS" class="btn btn-success btn-lg btn-block" role="button">
    </form>

    <p><h2 class="form-signin-heading" align="center">Current Members</h2></p>

    <p align="center">Total Registered Members: <b>{{ registered_members }}</b></p>
    <div>
        <table border="1px" align="center">
            <tr>
                <th><div align="center"> NAME </div></th>
                <th><div align="center"> PHONE </div></th>
                <th><div align="center"> EMAIL </div></th>
                <th><div align="center"> DELETE </div></th>
            </tr>

        {% if api_response %}
            {% for member in api_response %}
                <tr>
                    <td style="border-bottom:3px solid black" align="center"> {{ member[2] }} </td>
                    <td style="border-bottom:3px solid black" align="center"> {{ member[3] }} </td>
                    <td style="border-bottom:3px solid black" align="center"> {{ member[4] }} </td>
                    <td style="border-bottom:3px solid black" name="delete" align="center">
                        <form action="/deletemember" method="post">
                            <input type="hidden" name="email" value="{{ member[4] }}">
                        <input type="submit" value="DELETE" class="btn btn-success btn-xs btn-block" role="button">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
    </div>
    <br>
    <div>
        <a href="/gorevlipaneli" class="btn btn-success btn-lg btn-block">GERI</a>
    </div>

</div>

{% endblock %}