{% extends "layout.html" %}
{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" align="center">
                        <label>Vakif Bilgi Sistemi</label>
                    </h3>
                </div>
                <a href="donate" class="btn btn-success btn-lg btn-block" role="button">Bagis</a>
                <a href="signup" class="btn btn-success btn-lg btn-block" role="button">Uyelik</a>

            </div>
        </div>
    </div>
</div>

{% endblock %}
