{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading" align="center">Vakif Bilgi Sistemi</h2>
            <a href="donate" class="btn btn-success btn-lg btn-block" role="button">Bagis</a>
            <a href="signup" class="btn btn-success btn-lg btn-block" role="button">Uyelik</a>
            <br><div align="center"><a href="admin">Gorevli Giris Paneli v0.2</a></div>
            <br>
            <div align="center">
            <a href="http://501c3lookup.org/SEMERKAND_CULTURAL_ASSOCIATION/" target="_blank">
                <span class="glyphicon glyphicon-copyright-mark"></span>
            </a>
            Semerkand Cultural Association - {{ year }}<br>
            <a href="www.semerkandus.org">www.semerkandus.org</a><br>
            <a href="mailto:info@semerkandus.org">info@semerkandus.org</a>
            <br>
            <small><em>The Semerkand Cultural Association is a not for profit organization recognized as tax-exempt under
                the U.S. Internal Revenue Code section 501 (c)(3)</em></small>
            </div>

        </form>
    </div>

{% endblock %}
