{% extends "layout.html" %}
{% block content %}

<div class="container">
                
	<form class="form-signin" action="signuprequest" method="post">
		<h2 class="form-signin-heading" align="center">Haberlesme Listesi</h2>

		<p><label for="memberName" class="sr-only">Isim:</label> 
                <input type="text" name="memberName" class="form-control" placeholder="Enter Member Name" required autofocus/></p>

		<p><label for="phoneNumber" class="sr-only">Telefon:</label> 
                <input type="text" maxlength="10" pattern="\d{10}" name="phoneNumber" class="form-control" placeholder="Telefon numarasi, bosluk vs. koyma" required autofocus/></p>

		<p><label for="notificationEmail" class="sr-only">Email:</label> 
                <input type="email" name="notificationEmail" class="form-control" placeholder="Email Address" required autofocus/></p>

        <input type="submit" value="Uye Kaydet" class="btn btn-success btn-lg btn-block" role="button">
        <a href="/" class="btn btn-success btn-lg btn-block">GERI</a>
	</form>
</div>

{% endblock %}
