{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Vakif Uyelik Formu
                    </h3>
                </div>
                <form action="signuprequest" method="post">
                    <label>Isim:</label>
                    <input type="text" name="memberName" class="form-control" placeholder="Enter Member Name"
                                    required autofocus/><br><p>
                    <label>Email:</label>
                    <input type="text" name="notificationEmail" class="form-control" placeholder="Valid Email Address"
                                    required autofocus/><br><p>
                    <label>Telefon:</label>
                    <input type="text" name="phoneNumber" class="form-control" placeholder="Valid Phone Number"
                                    required autofocus/><br><p>
                    <input type="submit" value="Uye Ol" class="btn btn-success btn-lg btn-block" role="button">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}